/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

.menu {
  width: 25%;
  float: left;
}

.main {
  width: 75%;
  float: left;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*=col-] {
  float: left;
  padding: 15px;
}

:root {
  --font: "Hind Madurai", sans-serif;
  --color-white: #fff;
  --color-white-trans: rgba(255, 255, 255, 0.65);
  --color-blue: #0989ba;
  --color-blue-dark: #024b68;
  --color-pink: #ec153e;
  --color-pink-dark: #b1102e;
  --color-yellow-old: #e3d726;
  --color-yellow-dark-old: #958c0b;
  --color-yellow: #c4b810;
  --color-yellow-dark: #958c0b;
  --color-green: #00a778;
  --color-green-trans: #00a7782e;
  --color-green-dark: #007b58;
  --color-black: #000;
  --color-grey-1: #f3f3f3;
  --color-grey-2: #dddddd;
  --color-grey-2-trans: #dddddd75;
  --color-grey-3: #a2a2a2;
  --default-shadow: 0 0 20px rgba(0,0,0,.15);
  font-family: var(--font);
}

.topnav {
  background-color: var(--color-white);
  height: 75px;
  overflow: hidden;
  margin: 0;
  display: flex;
  flex-direction: row;
}
.topnav img {
  opacity: 1;
}
.topnav img:hover {
  opacity: 0.7;
}
.topnav .icon {
  display: none;
}
.topnav a {
  justify-content: center;
  align-items: center;
  float: left;
  display: block;
  color: var(--color-black);
  text-align: center;
  padding: 25px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}
.topnav a .nav-logo {
  position: relative;
  bottom: 50%;
  height: 50px;
}
.topnav a:hover:not(:first-of-type) {
  color: var(--color-green);
}
.topnav a .active {
  background-color: #04AA6D;
  color: white;
}

body {
  margin: 0px 25px 0px 25px;
}

a {
  color: var(--color-blue);
}
a:hover {
  color: var(--color-blue-dark);
}

p {
  font-family: var(--font);
}

h1 {
  text-align: center;
  font-size: 3rem;
}

.content-table {
  position: relative;
  border-collapse: collapse;
  margin: 25px auto;
  font-size: 1em;
  min-width: 400px;
  max-width: 2500px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: var(--default-shadow);
}
.content-table .date-sent {
  min-width: 100px;
}
.content-table .actions {
  min-width: 120px;
}
.content-table .actions a {
  margin: 0px 2px;
  text-decoration: none;
}
.content-table .sticky-th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.content-table .sort-icons {
  background-color: white !important;
}
.content-table .fa-trash {
  color: var(--color-pink);
}
.content-table .fa-trash:hover {
  color: var(--color-pink-dark);
}
.content-table .fa-pen {
  color: var(--color-green);
}
.content-table .fa-pen:hover {
  color: var(--color-green-dark);
}
.content-table th a {
  color: var(--color-blue);
  text-decoration: none;
  margin: 0 0.2em;
}
.content-table th a:hover {
  color: var(--color-blue-dark);
}
.content-table thead tr {
  background-color: var(--color-green);
  color: var(--color-white);
  text-align: left;
  font-weight: bold;
}
.content-table td, .content-table th {
  padding: 12px 15px;
}
.content-table tbody tr {
  border-bottom: 1px solid var(--color-grey-2);
}
.content-table tbody tr:hover {
  background-color: var(--color-green-trans);
}
.content-table tbody tr:nth-of-type(even) {
  background-color: var(--color-grey-1);
}
.content-table tbody tr:nth-of-type(even):hover {
  background-color: var(--color-green-trans);
}
.content-table tbody tr:last-of-type {
  border-bottom: 3px solid var(--color-green);
}

.alert {
  color: var(--color-pink) !important;
}

.generate-email-dialogue {
  visibility: hidden !important;
}

.form-input, textarea {
  border: 2px solid var(--color-grey-2);
  border-radius: 10px;
  padding: 6px 10px;
  margin: 0px 4px 10px 0px;
}

.form-input-block {
  border: 2px solid var(--color-grey-2);
  border-radius: 10px;
  padding: 6px 10px;
  margin: 0px 4px 10px 0px;
  display: block;
}

.form {
  width: 100%;
}

.add-entry-dialogue, .update-entry-dialogue, .generate-emails-dialogue, .upload-csv-dialogue {
  overflow-y: auto;
  background-color: var(--color-grey-1);
  visibility: hidden;
  position: fixed;
  width: 60vw;
  min-width: 550px;
  max-width: 750px;
  max-height: 95vh;
  min-height: 10vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  padding: 1%;
  box-shadow: var(--default-shadow);
}
.add-entry-dialogue .generated-textarea, .update-entry-dialogue .generated-textarea, .generate-emails-dialogue .generated-textarea, .upload-csv-dialogue .generated-textarea {
  margin: 15px 0;
  resize: none;
  width: 100%;
  min-height: 35vh;
}
.add-entry-dialogue .input-container, .update-entry-dialogue .input-container, .generate-emails-dialogue .input-container, .upload-csv-dialogue .input-container {
  text-align: center;
}
.add-entry-dialogue .input-container label, .update-entry-dialogue .input-container label, .generate-emails-dialogue .input-container label, .upload-csv-dialogue .input-container label {
  display: block;
  text-align: left;
}
.add-entry-dialogue .input-container .form-input, .add-entry-dialogue .input-container textarea, .update-entry-dialogue .input-container .form-input, .update-entry-dialogue .input-container textarea, .generate-emails-dialogue .input-container .form-input, .generate-emails-dialogue .input-container textarea, .upload-csv-dialogue .input-container .form-input, .upload-csv-dialogue .input-container textarea {
  border-radius: 10px;
  margin: 10px auto;
  border: none;
  padding: 5px;
  width: 100%;
}
.add-entry-dialogue h2, .update-entry-dialogue h2, .generate-emails-dialogue h2, .upload-csv-dialogue h2 {
  text-align: center;
}
.add-entry-dialogue .btn-submit, .update-entry-dialogue .btn-submit, .generate-emails-dialogue .btn-submit, .upload-csv-dialogue .btn-submit {
  display: block;
  margin: 10px auto;
}
.add-entry-dialogue .x-mark, .update-entry-dialogue .x-mark, .generate-emails-dialogue .x-mark, .upload-csv-dialogue .x-mark {
  color: var(--color-pink);
  position: absolute;
  top: 10px;
  right: 10px;
}
.add-entry-dialogue .x-mark:hover, .update-entry-dialogue .x-mark:hover, .generate-emails-dialogue .x-mark:hover, .upload-csv-dialogue .x-mark:hover {
  color: var(--color-pink-dark);
}

.show {
  visibility: visible !important;
}

.hide {
  visibility: hidden;
  display: none;
}

.blue {
  background-color: var(--color-blue) !important;
}

textarea {
  height: 200px;
}

.btn, .file-upload-form input, #file-upload-button {
  background-color: var(--color-green);
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  max-width: 500px;
  color: var(--color-white);
  font-weight: bold;
  border: none;
  padding: 8px 12px;
  border-radius: 10px;
  margin: 5px 4px 5px 0px;
}
.btn:hover, .file-upload-form input:hover, #file-upload-button:hover {
  background-color: var(--color-green-dark);
}

.download {
  background-color: var(--color-yellow);
}
.download:hover {
  background-color: var(--color-yellow-dark);
}

#deselect-all {
  background-color: var(--color-pink);
}
#deselect-all:hover {
  background-color: var(--color-pink-dark);
}

#select-all {
  background-color: var(--color-blue);
}
#select-all:hover {
  background-color: var(--color-blue-dark);
}

#clear-filters {
  background-color: var(--color-pink);
}
#clear-filters:hover {
  background-color: var(--color-pink-dark);
}

#search {
  background-color: var(--color-blue);
}
#search:hover {
  background-color: var(--color-blue-dark);
}

.sticky-bottom {
  display: flex;
  flex-direction: row;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: var(--color-white-trans);
  padding: 20px;
  border-radius: 10px;
  min-width: 400px;
  max-width: 2500px;
}
.sticky-bottom .field {
  margin: 0 3px;
}

.update-form input[type=text], .update-form input[type=textarea] {
  background-color: grey;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .nav-logo {
    display: none;
  }
}
.chart-options {
  position: -webkit-sticky !important;
  position: sticky !important;
  top: 20px;
  margin: 20px 0;
}

ol {
  margin-bottom: 20px;
}

.fa-circle-info {
  color: var(--color-green);
  transform: scale(70%);
}
.fa-circle-info:hover {
  color: var(--color-green-dark);
}/*# sourceMappingURL=main.css.map */