{% extends 'base.html' %}

{% block head %}
{% endblock %}
{% block body %}
    <h1>Booking Analysis</h1>
    <h2>Upload a CSV file</h2>
    <form method="POST" enctype="multipart/form-data">
        {{form.hidden_tag()}}
        {{form.file()}}
        {{form.submit()}}
    </form>
    <div class="chart-wrapper">
        <div class="chart-container">
            <canvas id="myChart"></canvas>
        </div>
    </div>

    <div class="chart-container">
        <canvas id="popularDaysChart"></canvas>
    </div>
    <div class="chart-container">
        <canvas id="popularHoursChart"></canvas>
    </div>
    <div class="chart-container">
        <canvas id="dayHourChart"></canvas>
    </div>
    <div class="chart-container">
        <canvas id="popularHoursByDayChart"></canvas>
    </div>
    <div class="chart-container">
        <canvas id="bookingsByCategoryChart"></canvas>
    </div>
    <div class="chart-container">
        <canvas id="noShowChart"></canvas>
    </div>
    <div class="chart-container">
        <canvas id="timeDifferenceChart"></canvas>
    </div>
    <div class="chart-container">
        <canvas id="popularUsersChart"></canvas>
    </div>
    <div class="chart-container">
        <canvas id="lateReturnChart"></canvas>
    </div>
      
      
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
      <script>
        const ctx = document.getElementById('myChart');
        let equipmentList = JSON.parse({{ equipmentList | tojson }});
        let countList = JSON.parse({{ countList | tojson }});

        const popularDaysChart = document.getElementById('popularDaysChart');
        let dayList = JSON.parse({{ dayList | tojson }});
        let popularDayCount = JSON.parse({{ popularDayCount | tojson }});

        const popularHoursChart = document.getElementById('popularHoursChart');
        let hourList = JSON.parse({{ hourList | tojson }});
        let hourCountList = JSON.parse({{ hourCountList | tojson }})

        const popularHoursByDayChart = document.getElementById('popularHoursByDayChart');
        let dayHour = JSON.parse({{ dayHour | tojson }})
        let dayHourCount = JSON.parse({{ dayHourCount | tojson }})

        const bookingsByCategoryChart = document.getElementById('bookingsByCategoryChart');
        let categoryList = JSON.parse({{ categoryList | tojson }})
        let categoryCount = JSON.parse({{ categoryCount | tojson }})

        const noShowChart = document.getElementById('noShowChart');
        let noShowUsername = JSON.parse({{ noShowUsername | tojson }})
        let noShowCount = JSON.parse({{ noShowCount | tojson }})

        const timeDifferenceChart = document.getElementById('timeDifferenceChart');
        let timeDifferenceList = JSON.parse({{ timeDifferenceList | tojson }})
        let timeDifferenceCount = JSON.parse({{ timeDifferenceCount | tojson }})

        const popularUsersChart = document.getElementById('popularUsersChart');
        let sortedPopularUsers = JSON.parse({{ sortedPopularUsers | tojson }})
        let numberEquipment = JSON.parse({{ numberEquipment | tojson }})
        let numberUniqueBookings = JSON.parse({{ numberUniqueBookings | tojson }})

        const lateReturnChart = document.getElementById('lateReturnChart');
        let lateReturnNames = JSON.parse({{ lateReturnNames | tojson }})
        let lateReturnMinutes = JSON.parse({{ lateReturnMinutes | tojson }})



        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: equipmentList,
            datasets: [{
              label: 'Number of Bookings by Equipment',
              data: countList,
              borderWidth: 1
            }]
          },
          options: {
            indexAxis: 'y',
            scales: {
              y: {
                beginAtZero: true
              }
            }
          }
        });

        new Chart(popularDaysChart, {
            type: 'bar',
            data: {
                labels: dayList,
                datasets: [{
                    label: 'Number of Bookings by Day of the Week',
                    data: popularDayCount,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        new Chart(popularHoursChart, {
            type: 'bar',
            data: {
                labels: hourList,
                datasets: [{
                    label: 'Number of Bookings by Day of the Week',
                    data: hourCountList,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        new Chart(popularHoursByDayChart, {
            type: 'bar',
            data: {
                labels: dayHour,
                datasets: [{
                    label: 'Number of Bookings by Day of the Week',
                    data: dayHourCount,
                    borderWidth: 1
                }]
            },
            options: {
                indexAxis: 'y',
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        new Chart(bookingsByCategoryChart, {
            type: 'bar',
            data: {
                labels: categoryList,
                datasets: [{
                    label: 'Number of Bookings by Day of the Week',
                    data: categoryCount,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        new Chart(noShowChart, {
            type: 'bar',
            data: {
                labels: noShowUsername,
                datasets: [{
                    label: 'Number of Bookings by Day of the Week',
                    data: noShowCount,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        new Chart(timeDifferenceChart, {
            type: 'bar',
            data: {
                labels: timeDifferenceList,
                datasets: [{
                    label: 'Number of Bookings by Day of the Week',
                    data: timeDifferenceCount,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        

        new Chart(popularUsersChart, {
            type: 'bar',
            data: {
                labels: sortedPopularUsers,
                datasets: [{
                    label: '# Equipment Booked',
                    data: numberEquipment,
                    borderWidth: 1
                },
                {
                    label: '# Unique Bookings',
                    data: numberUniqueBookings,
                    borderWidth: 1
                }
                ]
            },
            options: {
                indexAxis: 'y',
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        new Chart(lateReturnChart, {
            type: 'bar',
            data: {
                labels: lateReturnNames,
                datasets: [{
                    label: '# Minutes Late',
                    data: lateReturnMinutes,
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        



      </script>


{% endblock %}