{% extends 'base.html' %}

{% block head %}
{% endblock %}
{% block body %}
    <h1>Vitale Digital Media Lab</h1>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
            <p>Welcome to the Vitale Digital Media Lab App. This web application helps automate repetitive parts of the lab consultants' job
                including sending late equipment emails, processing late fines, and analyzing booking data. Choose a tab from the
                navigation menu to see the options and read additional instructions.
            </p>
        </div>
        <div class="col-2"></div>
    </div>


{% endblock %}


