{% extends 'base.html' %}

{% block head %}
    <title>Late Fines</title>
{% endblock %}
{% block body %}
    <h1>Late Fines Toolkit</h1>

    <div class="content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <h3 class="alert">{{ message }}</h3>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% if tasks|length < 1 %}
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Penn ID</th>
                <th>Email</th>
                <th>Amount</th>
                <th>Booking Number</th>
                <th>Details</th>
                <th>Schedule</th>
                <th>Return Time</th>
                <th>Operator</th>
                <th>Date Sent</th>
                <th>Forgiven</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <h4>There are no entries in table. Create one below.</h4>


        {% else %}
        <table class="table">
            <tr>
                <th>
                    <a href="/sort-desc-name">
                        <i class="fa fa-arrow-up"></i>
                    </a>
                    <a href="/sort-asc-name">
                        <i class="fa fa-arrow-down"></i>
                    </a>
                </th>
                <th></th>
                <th>
                    <a href="/sort-desc-email">
                        <i class="fa fa-arrow-up"></i>
                    </a>
                    <a href="/sort-asc-email">
                        <i class="fa fa-arrow-down"></i>
                    </a>
                </th>
                <th>
                    <a href="/sort-desc-amount">
                        <i class="fa fa-arrow-up"></i>
                    </a>
                    <a href="/sort-asc-amount">
                        <i class="fa fa-arrow-down"></i>
                    </a>
                </th>
                <th>
                    <a href="/sort-desc-booking">
                        <i class="fa fa-arrow-up"></i>
                    </a>
                    <a href="/sort-asc-booking">
                        <i class="fa fa-arrow-down"></i>
                    </a>
                </th>
                <th></th>
                <th></th>
                <th>
                    <a href="/sort-desc-return-time">
                        <i class="fa fa-arrow-up"></i>
                    </a>
                    <a href="/sort-asc-return-time">
                        <i class="fa fa-arrow-down"></i>
                    </a>
                </th>
                <th>
                    <a href="/sort-desc-staff">
                        <i class="fa fa-arrow-up"></i>
                    </a>
                    <a href="/sort-asc-staff">
                        <i class="fa fa-arrow-down"></i>
                    </a>
                </th>
                <th>
                    <a href="/sort-desc-date-sent">
                        <i class="fa fa-arrow-up"></i>
                    </a>
                    <a href="/sort-asc-date-sent">
                        <i class="fa fa-arrow-down"></i>
                    </a>
                </th>                
                <th></th>
                <th></th>
                
            </tr>
            <tr>
                <th>Name</th>
                <th>Penn ID</th>
                <th>Email</th>
                <th>Amount</th>
                <th>Booking Number</th>
                <th>Details</th>
                <th>Schedule</th>
                <th>Return Time</th>
                <th>Operator</th>
                <th>Date Sent</th>
                <th>Forgiven</th>
                <th>Actions</th>
                
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.penn_id }}</td>
                    <td><a href="/generateUserEmail/{{task.id}}">{{ task.email }}</a></td>
                    <td>${{ task.amount }}</td>
                    <td><a target="_blank" href="https://pennmedialab.getconnect2.com/Bookings/View.aspx?id={{ task.booking_number[3:] }}">{{ task.booking_number }}</a></td>
                    <td>{{ task.details }}</td>
                    <td>{{ task.schedule }}</td>
                    <td>{{ task.return_time }}</td>
                    <td>{{ task.operator }}</td>
                    <td>{{ task.date_sent }}</td>
                    <td>{{ task.forgiven }}</td>
                    <td>
                        <a href="/delete/{{task.id}}"><i class="fa fa-trash fa-lg"></i></a>
                        <a href="/update/{{task.id}}"><i class="fa fa-pen fa-lg"></i></a>
                        <a href="/select/{{task.id}}">
                            {% if task.selected %}
                                <i class="fa fa-square-check fa-lg"></i>
                            {% else %}
                            <i class="fa fa-stop fa-lg"></i>
                            {% endif %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}

    </div>
    <form method="POST">
        <input name="deselect-all" type="submit" value="Deselect All">
        <input name="select-all" type="submit" value="Select All">
        <input name="clear-filters" type="submit" value="Clear Filters">
        <input name="filter-by-date-added" type="submit" value="Filter by Date Added">
        <input name="added-date" type="date"> 
        
    </form>


    <h2>Add entry to the database</h2>
    <form class="form" method="POST">
        <textarea name="text" id="late-input" rows="10" cols="100" placeholder="Paste your text here.">{{ resultTextCSV }}</textarea><br>
        <input name="penn-id" id="penn-id" placeholder="Penn ID"><br>
        <input name="user-email" id="user-email" placeholder="User email"><br>
        <input name="fine-amount" id="fine-amount" placeholder="Fine amount (number only)"><br>
        <input name="forgiven" id="forgiven" placeholder="(Optional) Note if fine forgiven">
        <br>
        <input name="add-entry" type="submit">
    </form>

    <p style="visibility: {{ visibilityCSV }}" class="alert-message">The result has been copied to your clipboard.</p>



    <form method="POST">
        <input name="generate-emails" type="submit" value="Generate All Emails for Selected Users">
    </form>

    <textarea style="visibility: {{ visibilityUser }}" name="output" id="late-output" 
        rows="5" cols="100" placeholder="Result outputs here.">{{ resultTextUser }}</textarea>
    <textarea style="visibility: {{ visibilityCirc }}" name="output" id="late-output" 
    rows="5" cols="100" placeholder="Result outputs here.">{{ resultTextCirc }}</textarea>
    <p style="visibility: {{ visibilityUser }}" class="alert-message">The result has been copied to your clipboard.</p>
    

{% endblock %}