{% extends 'base.html' %}

{% block head %}
    <title>Late Fines</title>
    <!-- <link rel="stylesheet" type="text/css" href="../static/css/main.css"> -->

{% endblock %}
{% block body %}
    <h1>Late Fines Toolkit</h1>

    <div class="content">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <h3 class="alert">{{ message }}</h3>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% if tasks|length < 1 %}
        <table class="table">
            <tr class="">
                <th>Name</th>
                <th>Penn ID</th>
                <th>Email</th>
                <th>Amount</th>
                <th>Booking Number</th>
                <th>Details</th>
                <th>Schedule</th>
                <th>Return Time</th>
                <th>Operator</th>
                <th>Date Sent</th>
                <th>Forgiven</th>
                <th>Actions</th>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <h4>No entries found. Clear filters or create an entry.</h4>


        {% else %}
        <table class="">
            <tr class="">
                <th class="">
                    <a href="/sort-desc-name">
                        <i class="fa fa-arrow-up"></i>
                    </a>
                    <a href="/sort-asc-name">
                        <i class="fa fa-arrow-down"></i>
                    </a>
                </th>
                <th></th>
                <th>
                    <a href="/sort-desc-email">
                        <i class="fa fa-arrow-up"></i>
                    </a>
                    <a href="/sort-asc-email">
                        <i class="fa fa-arrow-down"></i>
                    </a>
                </th>
                <th>
                    <a href="/sort-desc-amount">
                        <i class="fa fa-arrow-up"></i>
                    </a>
                    <a href="/sort-asc-amount">
                        <i class="fa fa-arrow-down"></i>
                    </a>
                </th>
                <th>
                    <a href="/sort-desc-booking">
                        <i class="fa fa-arrow-up"></i>
                    </a>
                    <a href="/sort-asc-booking">
                        <i class="fa fa-arrow-down"></i>
                    </a>
                </th>
                <th></th>
                <th></th>
                <th>
                    <a href="/sort-desc-return-time">
                        <i class="fa fa-arrow-up"></i>
                    </a>
                    <a href="/sort-asc-return-time">
                        <i class="fa fa-arrow-down"></i>
                    </a>
                </th>
                <th>
                    <a href="/sort-desc-staff">
                        <i class="fa fa-arrow-up"></i>
                    </a>
                    <a href="/sort-asc-staff">
                        <i class="fa fa-arrow-down"></i>
                    </a>
                </th>
                <th>
                    <a href="/sort-desc-date-sent">
                        <i class="fa fa-arrow-up"></i>
                    </a>
                    <a href="/sort-asc-date-sent">
                        <i class="fa fa-arrow-down"></i>
                    </a>
                </th>                
                <th></th>
                <th></th>
                
            </tr>
            <tr class="sticky-th">
                <th>Name</th>
                <th>Penn ID</th>
                <th>Email</th>
                <th>Amount</th>
                <th>Booking Number</th>
                <th>Details</th>
                <th>Schedule</th>
                <th>Return Time</th>
                <th>Operator</th>
                <th>Date Sent</th>
                <th>Forgiven</th>
                <th>Actions</th>
                
            </tr>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.name }}</td>
                    <td>{{ task.penn_id }}</td>
                    <td><a href="/generateUserEmail/{{task.id}}">{{ task.email }}</a></td>
                    <td>${{ task.amount }}</td>
                    <td><a target="_blank" href="https://pennmedialab.getconnect2.com/Bookings/View.aspx?id={{ task.booking_number[3:] }}">{{ task.booking_number }}</a></td>
                    <td>{{ task.details }}</td>
                    <td>{{ task.schedule }}</td>
                    <td>{{ task.return_time }}</td>
                    <td>{{ task.operator }}</td>
                    <td>{{ task.date_sent }}</td>
                    <td>{{ task.forgiven }}</td>
                    <td>
                        <a href="/delete/{{task.id}}"><i class="fa fa-trash fa-lg"></i></a>
                        <a href="/update/{{task.id}}"><i class="fa fa-pen fa-lg"></i></a>
                        <a href="/select/{{task.id}}">
                            {% if task.selected %}
                                <i class="fa fa-square-check fa-lg"></i>
                            {% else %}
                            <i class="fa fa-stop fa-lg"></i>
                            {% endif %}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% endif %}

    </div>

    <div class="form-controls sticky-bottom bg-light">
        <div class="row">
            <div class="col">

                <form method="POST">
                    <div class="row">
                        <div class="col">
                            <input class="btn btn-secondary" name="deselect-all" type="submit" value="Deselect All">
                        </div>
                        <div class="col">
                            <input class="btn btn-secondary" name="select-all" type="submit" value="Select All">
                        </div>
                        <div class="col">
                            <input class="btn btn-secondary" name="clear-filters" type="submit" value="Clear Filters">
                        </div>
                        <div class="col">
                            <input class="btn btn-secondary" name="filter-by-date-added" type="submit" value="Filter by Date Added">
                        </div>
                        <div class="col">
                            <input class="btn form-control" name="added-date" type="date"> 
                        </div>

                    </div>
                </form>
            </div>
            <div class="col">
                <form method="POST">
                    <div class="row">
                        <div class="col">
                            <input class="form-control" name="search" type="text" placeholder="Type your search term">
                        </div>
                        <div class="col">
                            <input class="btn btn-primary" name="Search" value="Search" type="submit">
                        </div>
                    </div>
                </form>
            
            </div>
        </div>


    
        <h2>Add entry to the database</h2>
        <form class="form" method="POST">
            <div class="row">

                <div class="col">
                    <div class="form-group">
                    <textarea name="text" class="form-control custom-control-inline" id="late-input" rows="1" cols="50" placeholder="Paste connect2 text here.">{{ resultTextCSV }}</textarea><br>

                </div>
              
            </div>
            <div class="row">

                <div class="col">
                    <input name="user-email" class="form-control" id="user-email" placeholder="User email">
                </div>
                <div class="col">
                    <input name="fine-amount" class="form-control" id="fine-amount" placeholder="Fine amount (number only)">
                </div>
                <div class="col">
                    <input name="fine-amount" class="form-control" id="fine-amount" placeholder="Fine amount (number only)">
                </div>
                <div class="col">
                    <input name="forgiven" class="form-control" id="forgiven" placeholder="(Optional) Note if fine forgiven">
                </div>
                <div class="col">
                    <input name="add-entry" class="btn btn-primary" type="submit">

                </div>
              
            </div>


            <br>
        </form>
    
        <p style="visibility: {{ visibilityCSV }}" class="alert-message">The result has been copied to your clipboard.</p>
    
    
    
        <form method="POST">
            <input class="btn btn-primary" name="generate-emails" type="submit" value="Generate All Emails for Selected Users">
        </form>
    
        <textarea style="visibility: {{ visibilityUser }}" name="output" id="late-output" 
            rows="1" cols="100" placeholder="Result outputs here.">{{ resultTextUser }}</textarea>
        <textarea style="visibility: {{ visibilityCirc }}" name="output" id="late-output" 
        rows="1" cols="100" placeholder="Result outputs here.">{{ resultTextCirc }}</textarea>
        <p style="visibility: {{ visibilityUser }}" class="alert-message">The result has been copied to your clipboard.</p>
    </div>
    
    

{% endblock %}